/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, 'LiHei Pro', 'Noto Sans CJK', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 正文開始 */
body {
	margin: 0px;
	background-color: #e9eaed;
}

header {
	width: 100%;
	height: 40px;
	top:0px;
	left: 0px;
	background-color: #282828 ;
}

header p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 11px 12px;
	margin: 0px ;
}

#full-screen {
	position: absolute;
	top : 40px;
	width: 100%;
}

.clock {
	position: absolute;
	width: 27%;
	left: 0px;
	margin: 0px;
}

.from-left {
	position: absolute;
	right: 0px;
	width: 200px;
	margin-right: 0px;
	animation: bounceInLeft 3s;
}

.from-left h1 {
	position: absolute;
	right: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	float: right;
}
.from-left p {
	position: absolute;
	right: 0px;
	top: 55px;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}
/*bounceInLeft 製作左移入動畫*/
@keyframes bounceInLeft {

  0% {
  	/*透明度調整*/
    opacity: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

}
/*bounceInLeft 製作左移入動畫結束*/

.myself {
	position: absolute;
	left: 33%;
	width: 50%;
}

.from-right {
	position: absolute;
	animation: bounceInRight 3s;
}

.myself h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 30px;
}

.myself p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	padding-top: 20px;
	line-height: 22px;
}

/*bounceInLeft 製作左移入動畫*/
@keyframes bounceInRight {

  0% {
  	/*透明度調整*/
    opacity: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

}
/*bounceInLeft 製作左移入動畫結束*/

.linear {
	position: absolute;
	top : 55px;
	left: 30%;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	border-radius: 2px;
	width: 0px;
	height: 500px;
}

/*社交連結*/

#social-circul-name {
	position: absolute;
	right: 0px;
	bottom: 40px;
	width: 20%;
	height: 420px;
}

.social-box {
	height: 60px;
	width: 90%;
	padding-right: 10%;
}

.social-box a{
	text-decoration:none;
	color: #4db8ff;
}

.social-box a:hover{
	color: #0099ff;
}

.social-box img{
	float: right;
	height: 35px;
	width: 35px;
	padding: 3px;
	background-color: #505050;
	border: 4px #FFFFFF solid;
	border-radius: 50px;
}

.social-box h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding-top: 25px;
	padding-right: 20px;
	float: right;
}

/*social 動畫*/
.blog-word{
	animation: socialInleft 2.5s;
}
.facebook-word{
	animation: socialInleft 3s;
}
.google-word{
	animation: socialInleft 3.5s;
}
.twitter-word{
	animation: socialInleft 4s;
}
.github-word{
	animation: socialInleft 4.5s;
}
.flickr-word{
	animation: socialInleft 5s;
}
.mail-word{
	animation: socialInleft 5.5s;
}
@keyframes socialInleft {

  0% {
  	/*透明度調整*/
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }
  40% {
  	/*透明度調整*/
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

}
/*腳步註解*/
footer {
	background-color: #282828 ;
	height: 40px;
}

footer p {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 16px;
	padding: 11px 12px;
}
#windows {
	float: left;
}
#support {
	float: right;
}